@font-face {
    font-family: 'Alycidon-Condensed';
    src: url(alycidon/Alycidon-Condensed.otf);
}


body {
    margin: 0;
    padding: 0;
}

.imagem_index {
    width: 100%;
    height: 100vh;
}

.imagem_index img {
height: 100vh;
width: 100%;
margin: 0;
padding:0;
}

.explicacao {
    height: 100vh;
    width: 100%;
    background-color: black;
    margin: 0;
    padding: 0;
}




