@import url('http://fonts.cdnfonts.com/css/alycidon');
/* font-family: 'Alycidon', sans-serif; */  /* Fonte do peaky blinders */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
/* font-family: 'Roboto', sans-serif; */

::-webkit-scrollbar {
  width: 15px;
  height: 80px;
  
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: rgba(245, 245, 245, 0.705);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
 
}

body {
   margin: 0;
   padding: 0;
   font-family: 'Roboto', sans-serif;
}

#id_imagem_fundo {

    position: fixed;
    height: 100vh;
    width: 100vw;  
    z-index: -1;
    margin-top: -5.75%;
    
 
  }

 
.navbar {
    background: rgb(132,71,140);
    background: linear-gradient(90deg, rgba(132,71,140,1) 0%, rgba(2,0,36,1) 100%);
    height: 13.9vh;
    width:70%;
    position: fixed;
    margin-left: 15.15%;
    text-shadow:rgb(228, 202, 226) ;
    margin-top: -13vh;
  }

  .div_pb {
    width: 30%;
    height: 100%;
    font-size: 60px;    
    float: left;
    transition: all 1s;
    align-items: center;
    display: flex;
    font-family: 'Alycidon', sans-serif; 
  }

  .div_pb a {
    color: rgb(0, 0, 0);
    margin-left: 25%;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
    text-shadow: #ffffff86 2px 3px 4px;
    font-family: 'Alycidon', sans-serif; 
    font-weight:100;
  }

  .links_navbar {
   height: 100%;
   width: 70%;
   display: flex;
   justify-content: center;
   color: white;
  }

  .links_navbar span {
    margin: 5%;
    font-size: 25px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.884);
    font-weight: bold;
    cursor: pointer;
  }

  .links_navbar span:hover {
    text-decoration: underline;
  }

  .div_txt_lider span {
    color:  #ffc500;
  }
  
  .links_navbar a {
    margin: 5%;
    font-size: 25px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.884);
    font-weight: bold;
  }
  
  .links_navbar a:hover {
    text-decoration: underline;
  }

  .container {
    background-color: #161720e8;
    height: 119.9vh;
    width: 69.99%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12.4vh;
    margin-left: 15vw;
  }

  .titulo_lider {
    height: 10%;
    width: 100%;
  }

  .txt_lider {
    background-color: #555;
    height: 60%;
    width: 22%;
    color:#FFF;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-top: 3%;
  }

  .caixa_lider {
    background-color: rgb(51, 50, 50);
    height: 19%;
    margin-top: 2%;
    width: 40%;
    border-color: rgb(20, 19, 19);
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
  }

  .div_imagem_lider {
    height: 100%;
    width: 30%;
    float: left;
  }

  .div_imagem_lider img {
    height: 100%;
    width: 100%;
  }

  .div_txt_lider {
    height: 100%;
    width: 70%;
    float: left;
  }

  .primeira_caixa {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #FFF;
  }

  .segunda_caixa {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #FFF;
    text-align: center;
    flex-direction: column;
  }

  .titulo_lideranca {
    height: 9%;
    width: 100%;
  }

  .txt_lideranca {
    background-color:  #555;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    font-size: 25px;
    margin-left: 5%;
    color: #FFF;
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 4%;
  } 

  

  .div_footer {
    background-color: black;
    color: white;
    font-weight: bold;
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-top: 12%;
  }