@import url('http://fonts.cdnfonts.com/css/alycidon');
/* font-family: 'Alycidon', sans-serif; */  /* Fonte do peaky blinders */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
/* font-family: 'Roboto', sans-serif; */

::-webkit-scrollbar {
    width: 15px;
    height: 80px;
    
  }

  ::-webkit-scrollbar-track {
    background: black;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(245, 245, 245, 0.705);
    border-radius: 15px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
   
  }


body {
    margin: 0;
    padding: 0;  
    font-family: 'Roboto', sans-serif;
    
}



.navbar {
    background: rgb(132,71,140);
    background: linear-gradient(90deg, rgba(132,71,140,1) 0%, rgba(2,0,36,1) 100%);
    height: 13.5vh;
    width:70%;
    position: fixed;
    margin-left: 15.2%;
    margin-top: -13.1vh;
    text-shadow:rgb(228, 202, 226) ;
  }

  .imagem_fundo {
    height: 100vh;
    width: 100%;
  }

  .dash-right {
    height: 100%;
    width: 70%;
    margin-left: 15.2%;
  }
  
  #comentario_usuario {
    height:100px ;
    width:550px;
    background-color: #555;
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
  }

  .div-form {
    height: 50%;
    width: 60%;
    font-size: 20px;
    color: white;
    margin-left: -38%;
    
  }

  #imagem_fundo_a {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
    margin-top:-12.95vh;
  }

  .div_pb {
    width: 30%;
    height: 100%;
    font-size: 60px;    
    float: left;
    align-items: center;
    display: flex;
    font-family: 'Alycidon', sans-serif; 
  }

  .div_pb a {
    color: rgb(0, 0, 0);
    margin-left: 25%;
    text-decoration: none;
    cursor: pointer;
    text-shadow: #ffffff86 2px 3px 4px;
    font-family: 'Alycidon', sans-serif; 
  }

  .links_navbar {
   height: 100%;
   width: 70%;
   display: flex;
   justify-content: center;
   color: white;
  }

  .links_navbar span {
    margin: 5%;
    font-size: 25px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.884);
    font-weight: bold;
    cursor: pointer;
  }

  .links_navbar span:hover {
    text-decoration: underline;
  }
  
  .links_navbar a {
    margin: 5%;
    font-size: 25px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.884);
    font-weight: bold;
  }
  
  .links_navbar a:hover {
    text-decoration: underline;
  }
  
  .container {
      background-color: #161720e8;
      height: 107.9vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 13vh;
  } 

  .div_titulo {
    height: 9%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .txt_titulo {
    background-color: #555;
    height: 50%;
    width: 40%;
    font-size: 30px;
    border-radius: 10px;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: bold;
  }

 
 
  #input_titulo {
    width: 400px;
    margin-right: 45%;
    height: 50px;
    border-color:black;
    border-radius: 10px;
    background-color: #555;
    color: white;
    margin-top: 10px;
    font-size: 20px;
  }


 #input_descricao {
  width: 400px;
  margin-right: 45%;
  height: 50px;
  border-color:black;
  border-radius: 10px;
  background-color: #555;
  color: white;
  margin-top: -20px;
 }

 .titulo_mural {
   height: 10%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   font-size: 28px;
   margin-top: 2%;
 }

 #botao_enviar {
   width: 80px;
   height: 35px;
   background-color: black;
   color: white;
   border-radius: 10px;
   font-family: 'Roboto', sans-serif;
   font-weight: bold;
   font-size: 20px;
   cursor: pointer;
   margin-top: 10px;
   margin-left: -78%;
 }

 #criar_div {
   background-color: red;
   height: 200px;
   width: 600px;
   border: 2px solid rgba(255, 255, 255, 0.658);
   border-radius: 10px;
 }

 #criar_titulo {
   background-color: blue;
   height: 30%;
   width: 90%;
   margin-left: 10%; 
 }